extends layout

block body
    .row
        .col-md-12
            h1#top-message Let's get started!

    .row
        .col-md-12
            div#status Loading...

    .row.unhide.hidden
        .col-md-12
            h1#large

            div#share

    .row
        .col-md-12
            h3 Check someone else's percentage!
            form.form-inline(method='GET', action='/u/')
                .form-group
                    input.form-control(type='text', name='username')
                button.btn.btn-default(type='submit') Check

    if locals.username
        script.
            var username = '#{locals.username}';
            var startPath = '/u/start/' + username;
            var statusPath = '/u/status/' + username;

    else
        script.
            var startPath = '/start';
            var statusPath = '/status';

    script.
        var interval;

        var makeRequest = function (url, done) {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', url);

            if (done === undefined) {
                done = function() {}
            }

            xhr.onerror = function () {
                alert('Network error!');
                return done(new Error('Network error'));
            };

            xhr.onload = function () {
                try {
                    JSON.parse(xhr.responseText);
                } catch (e) {
                    return done(e);
                }

                return done(null, JSON.parse(xhr.responseText));
            };

            xhr.send();
        };

        makeRequest(startPath, function () {
            interval = setInterval(updateProgress, 2000);
            updateProgress();
        });

    if !locals.username
        script.
            var displayTemplate = '<div>TMPL_DATA</div>';
            var loadingTemplate = '<div>We\'ve currently got TMPL_TWEETS Tweets loaded for TMPL_NAME</div>';
            var doneTemplate = '<div>Loaded TMPL_TWEETS Tweets for TMPL_NAME with a total of TMPL_COUNT ":3"s!';
            var largeTemplate = 'TMPL_PERCENT% of your Tweets contain a ":3"!';
            var topTemplate = 'Check your results on <a href="/leaderboard">the leaderboard</a>!';
            var tweetTemplate = '<a id="share" href="https://twitter.com/share" data-url="http://3.syfaro.net" data-via="Syfaro" data-lang="en" data-count="horizontal" class="twitter-share-button" data-text=\'TMPL_PERCENT% of my Tweets contain a ":3" (TMPL_COUNT of TMPL_TOTAL) Check yours at\'>';

    else
        script.
            var displayTemplate = '<div>TMPL_DATA</div>';
            var loadingTemplate = '<div>We\'ve currently got TMPL_TWEETS Tweets loaded for TMPL_NAME</div>';
            var doneTemplate = '<div>Loaded TMPL_TWEETS Tweets for TMPL_NAME with a total of TMPL_COUNT ":3"s!';
            var largeTemplate = 'TMPL_PERCENT% of TMPL_NAME\'s Tweets contain a ":3"!';
            var topTemplate = '';
            var tweetTemplate = '<a id="share" href="https://twitter.com/share" data-url="http://3.syfaro.net" data-via="Syfaro" data-lang="en" data-count="horizontal" class="twitter-share-button" data-text="TMPL_PERCENT% of @TMPL_NAME\'s Tweets contain a &quot;:3&quot; (TMPL_COUNT of TMPL_TOTAL) Check yours at">';

    script.
        var updateProgress = function () {
            makeRequest(statusPath, function (err, status) {
                if (err) {
                    clearInterval(interval);
                    console.error(err);
                    alert('Something broke!');
                }

                if(!status.loading) {
                    clearInterval(interval);
                }

                var displayMessage = displayTemplate;

                var statusMessage;

                if (status.loading) {
                    statusMessage = loadingTemplate.replace('TMPL_TWEETS', status.gotten);
                    statusMessage = statusMessage.replace('TMPL_NAME', status.twitter_handle);
                } else {
                    statusMessage = doneTemplate.replace('TMPL_TWEETS', status.gotten);
                    statusMessage = statusMessage.replace('TMPL_NAME', status.twitter_handle);
                    statusMessage = statusMessage.replace('TMPL_COUNT', status.contains);

                    var percent = Math.round((status.contains / status.gotten) * 10000) / 100;

                    document.getElementById('top-message').innerHTML = topTemplate;
                    document.getElementById('large').innerHTML = largeTemplate.replace('TMPL_PERCENT', percent).replace('TMPL_NAME', status.twitter_handle);
                    document.getElementById('share').innerHTML = tweetTemplate.replace('TMPL_PERCENT', percent).replace('TMPL_COUNT', status.contains).replace('TMPL_TOTAL', status.gotten).replace('TMPL_NAME', status.twitter_handle);

                    var hiddenElements = document.getElementsByClassName('unhide');
                    for (var i = 0; i < hiddenElements.length; i++) {
                        hiddenElements[i].classList.remove('hidden');
                    }

                    twttr.widgets.load()
                }

                displayMessage = displayMessage.replace('TMPL_DATA', statusMessage);

                document.getElementById('status').innerHTML = displayMessage;
            });
        };

    script.
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
